:root {
  --primary-color: #4a90e2;   /* A light blue for a calming effect */
  --secondary-color: #3498db; /* A slightly darker blue for contrast */
  --accent-color: #95a5a6;    /* A muted grayish-blue for accents */
  --background-color: #ecf0f1; /* A light gray background */
  --text-color: #333;         /* A dark gray for text */
}

html {
  background-color: var(--background-color);
  font-family: 'Cormorant Garamond', serif;
}

.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  width: 500px;
  height: 500px;
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
}

p {
  font-size: 12px;
  color: var(--primary-color);
}

.setters {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.setter-box {
  width: 45%;
  height: 80px;
  background-color: var(--accent-color);
  margin: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
}

button {
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.countdown {
  height: 200px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 20px;
}

#time-left {
  font-size: 90px;
}

@media (max-width: 500px) {
  .App {
    width: 250px;
  }
}